<div class="channel">
    <div class="channel_banner">
        <img ng-src="{{channel[0].brandingSettings.image.bannerImageUrl}}" ng-alt="{{channel[0].snippet.title}} banner">
    </div>
    <div class="channel__info mt-2">
        <div class="channel_comp__thumbnail channel__thumbnail--sm --channel_av--sm --mobile">
            <div class="channel_comp__avatar channel__avatar--sm">
                <img ng-src='{{channel[0].snippet.thumbnails.medium.url}}' alt="">
            </div>
        </div>
        <div class="channel_comp__thumbnail channel__thumbnail--md --desktop">
            <div class="channel_comp__avatar channel__avatar--md">
                <img ng-src='{{channel[0].snippet.thumbnails.medium.url}}' alt="">
            </div>
        </div>
        <div class="channel__header header--scope">
            <div class="channel__title">{{channel[0].snippet.title}}</div>
            <div class="channel_count text --desktop --dark_gray" ng-hide="channel[0].statistics.hiddenSubscriberCount">
                {{channel[0].statistics.subscriberCount | number : fractionSize}} subscribers
            </div>
            <div class="channel_count text --mobile --dark_gray" ng-hide="channel[0].statistics.hiddenSubscriberCount">
                <div class="button button__subscribe --subscribe__sm">►</div>
                <span class="text --red mr-2">Subscribe</span>
                 {{channel[0].statistics.subscriberCount | number : fractionSize}}
            </div>
        </div>
        <div class="button button__subscribe --desktop">
            Subscribe {{channel[0].statistics.subscriberCount | convNum: 0}}
        </div>
    </div>
    <div class="video_comp" ng-repeat="(key, item) in channel.videos">
        <div class="video_comp__thumbnail">
            <a ui-sref="video({id:item.id})">
                <img ng-src='{{item.snippet.thumbnails.medium.url}}' alt="">
                <div class="video_comp__time" ng-hide="item.liveStreamingDetails">{{item.contentDetails.duration | duration}}</div>
            </a>
        </div>
        <div class="video_comp__text">
            <div class="video_comp__header">
                <a ui-sref="video({id:item.id})">
                    <div class="video_comp__title">{{item.snippet.title}}</div>
                </a>
                <div class="video_comp__details">
                    <div class="video_comp__channel-name">
                        <a ui-sref="channel({id:item.snippet.channelId})">{{item.snippet.channelTitle}}</a>
                        <div class="details__separator --desktop">•</div>
                    </div>
                    <div class="video_comp__counts mt-3 --mobile">
                    <span ng-show="item.liveStreamingDetails">
                        {{item.liveStreamingDetails.concurrentViewers | number : fractionSize}} watching
                    </span>
                        <span ng-hide="item.liveStreamingDetails">{{item.statistics.viewCount | number : fractionSize}} views</span>
                    </div>
                    <div class="video_comp__counts --desktop">
                    <span ng-show="item.liveStreamingDetails">
                        {{item.liveStreamingDetails.concurrentViewers | convNum: 0}} watching
                    </span>
                        <span ng-hide="item.liveStreamingDetails">{{item.statistics.viewCount | convNum: 0}} views</span>
                        <div class="details__separator">•</div>
                    </div>
                    <div class="video_comp__date --desktop">{{item.snippet.publishedAt | timeago}}</div>
                </div>
                <div class="video_comp__description --desktop">{{item.snippet.description}}</div>
                <div class="video_comp__live-now" ng-show="item.snippet.liveBroadcastContent == 'live'">Live Now</div>
            </div>
        </div>
    </div>
</div>
